{% extends 'blog/base.html' %}
{% block content%}
	<div class="alert alert-info" style="font-family: georgia">
		<h4>Welcome to My Django Web Development Journey! ✈</h4>
	</div>	
	<article class="media content-section" style="background-color:#ffd5d1;">
	  <div class="media-body">
	    <div class="article-metadata" style="font-weight: 400;font-family: georgia; font-style: italic; font-size: 1rem; line-height: 1.6">
	     <p class="article-content">
	     	I am enthusiastic to share with you, no matter how small or trivial it may be to others, the knowledge I discover each step of the way in my journey as I learn more and more about web development using the Django framework. Learning from other’s mistakes and sharing you the solution save time and expedite your task.
	     	<p>This is an open collaboration. You can register to share your thoughts.</p>
			Sometimes, when you are a beginner, you don’t know where to start when learning something new and huge such as the Django framework.  But nonetheless, we have to start somewhere.
			<p style="text-align: center;"><br>
			Smile, when you discover something new.</p>  
			<p style="text-align: center;">
			Laugh at your mistakes. </p>
			<p style="text-align: center;">
			Relax to regain balance.</p><br>
			<p>Cheers ! 🍻 </p>
			🙂<strong>&nbsp;Mona Gulapa</strong>
	     </p>
	     <p>
		  	<strong>"Life is a Journey.</strong> The journey is never ending. There's always gonna be growth, improvement, adversity; you just gotta take it all in and do what's right, continue to grow, continue to live in the moment<strong>"</strong>.
		 </p>	
	  </div>
	  </div>
	</article>
{% endblock content %}

